doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/03-lambda-calcul.md
    include inc/scripts
    script(type="text/coffeescript", src="coffee/lambda-calcul/cy_expr1.coffee")
