doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/05-haskell.md
    include inc/scripts
    script(type="text/coffeescript", src="coffee/hof/foldl.coffee")
    script(type="text/coffeescript", src="coffee/hof/foldr.coffee")
    script(type="text/coffeescript", src="coffee/hof/scanl.coffee")
    script(type="text/coffeescript", src="coffee/hof/scanr.coffee")
    script(type="text/coffeescript", src="coffee/hof/mapa.coffee")
    script(type="text/coffeescript", src="coffee/hof/iterate.coffee")
    script(type="text/coffeescript", src="coffee/hof/zipWith.coffee")
