doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/11-inferencia-tipus.md
    include inc/scripts
    script(type="text/coffeescript", src="coffee/infer/infer1.coffee")
    script(type="text/coffeescript", src="coffee/infer/infer2.coffee")
    script(type="text/coffeescript", src="coffee/infer/infer3.coffee")
    script(type="text/coffeescript", src="coffee/infer/infer4.coffee")
    script(type="text/coffeescript", src="coffee/infer/infer5.coffee")
    script(type="text/coffeescript", src="coffee/infer/infer6.coffee")
    script(type="text/coffeescript", src="coffee/infer/infer7.coffee")
    script(type="text/coffeescript", src="coffee/infer/infer8.coffee")
    script(type="text/coffeescript", src="coffee/infer/infer9.coffee")
    script(type="text/coffeescript", src="coffee/infer/infer10.coffee")
    script(type="text/coffeescript", src="coffee/infer/rules1.coffee")
    script(type="text/coffeescript", src="coffee/infer/rules2.coffee")
    script(type="text/coffeescript", src="coffee/infer/rules3.coffee")


