doctype html
html
    include inc/head
    body
        textarea#source

            include ../slides/titol.md
            include ../slides/sep.md 

            include ../slides/02-introduccio.md
            include ../slides/sep.md 

            include ../slides/03-lambda-calcul.md
            include ../slides/sep.md 

            include ../slides/04-haskell.md
            include ../slides/sep.md 

            include ../slides/05-haskell.md
            include ../slides/sep.md 

            include ../slides/06-haskell.md
            include ../slides/sep.md 

            include ../slides/07-haskell.md
            include ../slides/sep.md 

            include ../slides/08-haskell.md
            include ../slides/sep.md 

            include ../slides/16-raonament-equacional.md
            include ../slides/sep.md 

            include ../slides/09-fp-c++.md
            include ../slides/sep.md 
            
            include ../slides/10-treball-lps.md
            include ../slides/sep.md 

            include ../slides/11-inferencia-tipus.md
            include ../slides/sep.md 

            include ../slides/12-scripting.md
            include ../slides/sep.md 

            include ../slides/13-compilacio.md
            include ../slides/sep.md 

            include ../slides/14-subtipus.md
            include ../slides/sep.md 

        include inc/scripts
