//script(src="/https://gnab.github.io/remark/downloads/remark-latest.min.js")
script(type="text/javascript", src="js/vendor/remark.min.js")
script
    include ../../js/vendor/remark-fallback.js
script(type="text/javascript", src="js/vendor/remark-language.js")
script(type="text/javascript", src="js/main.js")

// jpetit: mathjax
<!-- jpetit: mathjax-->
script(type='text/javascript').
    MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
          fontCache: 'global'
        }
    };

script(type="text/javascript", id="MathJax-script", async, src="js/node_modules/mathjax/es5/tex-svg.js")

// jpetit: cytoscape
script(type="text/javascript", src="js/node_modules/cytoscape/dist/cytoscape.min.js")

// jpetit: coffeescript
script(type="text/javascript", src="js/node_modules/coffeescript/lib/coffeescript-browser-compiler-legacy/coffeescript.js")

// jpetit: my cytoscape handler
script(type="text/coffeescript", src="coffee/mycys.coffee")
