//script(src="/https://gnab.github.io/remark/downloads/remark-latest.min.js")
script(type="text/javascript", src="/js/vendor/remark.min.js")
script
    include ../../js/vendor/remark-fallback.js
script(type="text/javascript", src="/js/vendor/remark-language.js")
script(type="text/javascript", src="/js/main.js")

// jpetit: mathjax
script(type="text/javascript", src='/js/node_modules/mathjax/unpacked/MathJax.js?config=TeX-AMS_HTML&delayStartupUntil=configured')
script(type='text/javascript').
    MathJax.Hub.Config({
        tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            inlineMath: [['$','$']],
        }
    });
    MathJax.Hub.Configured();

// jpetit: cytoscape
script(type="text/javascript", src="/js/node_modules/cytoscape/dist/cytoscape.min.js")

// jpetit: coffeescript
script(type="text/javascript", src="/js/node_modules/coffeescript/lib/coffeescript-browser-compiler-legacy/coffeescript.js")

// jpetit: my cytoscape handler
script(type="text/coffeescript", src="/coffee/mycys.coffee")
