// CSS file to create the generic presentation
@import "vendor/remark"

// Use your favorite theme
@import "remark-themes/default"

.s
    font-size: small

.sm
    font-size: small

.xs
    font-size: x-small

.xxs
    font-size: xx-small

.xl
    font-size: x-large

.xxl
    font-size: xx-large

body
    line-height: 1.4

pre
    line-height: 1

.sepimg
    padding-right: 1em

.sep
    margin-top: 1em     // no funciona


.remark-slide-content
    padding-top: 0em
    padding-bottom: 0em
    padding-left: 2em
    padding-right: 2em

.remark-slide-number
    visibility: hidden

.remark-slide-content h1
    margin-top: 0.2em

.remark-slide-content h2
    margin-top: 0
    font-size: 1.4em
    font-weight: bold

.col1
    float: left
    margin-right: 1em
    flex: 1

.col2
    float: right
    margin-left: 1em
    flex: 1

.cols5050
    display: flex

.cols5050 .col1
    width: 50%

.cols5050 .col2
    width: 50%

.cols6040
    display: flex

.cols6040 .col1
    width: 60%

.cols6040 .col2
    width: 40%

.cols4060
    display: flex

.cols4060 .col1
    width: 60%

.cols4060 .col2
    width: 40%



.col13
    float: left
    margin-right: 1em
    flex: 1

.col23
    float: left
    margin-right: 1em
    flex: 1

.col33
    float: left
    margin-right: 1em
    flex: 1

.cols303030
    display: flex

.cols303030 .col13
    width: 30%

.cols303030 .col23
    width: 30%

.cols303030 .col33
    width: 30%


.my-inverse
    color: white
    background: dimgrey
    padding: 0.01em

.my-center
    text-align: center

.blue
    color: blue
